@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Oswald);




.boomio-doodle-container {
	height: 668px;
	position: relative;
	margin: 20px auto 0; 
	overflow: hidden;
}

.boomio-doodle-canvas {
	height: 668px;
	display: block;
	background-size: cover;

}

#boomio-doodle-scoreBoard {
	width: 420px;
	height: 50px;
	background: rgba(182, 200, 220, 0.7);
	position: absolute;
	top: -3px;
	left: 0;
	z-index: -1;	
	border-image: url(https://i.imgur.com/5BBsR.png) 100 5 round;
}

#boomio-doodle-scoreBoard p {
	font-size: 20px;
	padding: 0;
	line-height: 47px;
	margin: 0px 0 0 5px;
}

.boomio-doodle-img {display: none}

#boomio-doodle-mainMenu, #boomio-doodle-gameOverMenu {
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#boomio-doodle-gameOverMenu {
	visibility: hidden;
}

.boomio-doodle-h2, .boomio-doodle-h3, .boomio-doodle-h1 {font-weight: normal}
.boomio-doodle-h1 {
	font-size: 60px; 
	color: #5a5816; 
	transform: rotate(-10deg);
	margin: 0px;
}

.boomio-doodle-h3 {text-align: right; margin: -10px 20px 0 0; color: #5e96be}
.boomio-doodle-h3 .boomio-doodle-a {color: #5a5816}

.boomio-doodle-button {
	width: 105px;
	height: 31px;
	display: block;
	color:  #000;
	font-size: 12px;
	line-height: 31px;
	text-decoration: none;
	position: absolute;
	left: 50%;
	bottom: 50px;
	margin-left: -53px;
}

.boomio-doodle-button.tweet {bottom: 100px; background-position: 0 -90px}
.boomio-doodle-button.fb {bottom: 150px; background-position: 0 -60px}

.boomio-doodle-info {position: absolute; right: 20px; bottom: 00px; margin: 0; color: green}

.boomio-doodle-info .boomio-doodle-key {
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	display: inline-block;
}

.boomio-doodle-info .boomio-doodle-key.left {background-position: -92px -621px;}
.boomio-doodle-info .boomio-doodle-key.right {background-position: -92px -641px;}
.close-game-container{
	z-index: 99999999999999999999999;
  position: absolute;
  top : calc(50% - 285px);
  left :calc(50% + 165px);
  transform : translate(-50%, -50%);
  display:flex;
  flex-direction: column;
  cursor:pointer;
  }

.numbers { 
	z-index: 3;
	font-family: Noto Sans;
	font-size: 44px;
	line-height: 1em;
	text-align: center;
	overflow: hidden;
	position: absolute;
	margin-bottom: 58px;  font-weight:700;
	color:white;
	display:none;
  }
  
  .numbers__window {
	display: inline-block;
	overflow: hidden;
	width: 30px;
	height: 1em;  
  
  }
  
  .numbers__window__digit {
	font-family: Oswald;
	word-break: break-all;
	display: block;
	width: 30px;
	padding: 0 0.52em 0 0;
	margin: 0 auto;
	overflow: inherit;
	animation:counting 0.07s steps(10) forwards infinite;
  }
  
  
  .numbers__window__digit::before {
	content: attr(data-fake);
	display: inline-block;
	width: 100%;
	height: auto;
  }
  
  .boomio-counting-animation {
	/* animation: counting 0.1s steps(8) forwards infinite; */
  }
  
  @keyframes counting {
	100% {
	  transform: translate3d(0, -10em, 0);
	}
  }
  
  .numbers__window__digit--1 {
	animation-iteration-count: 30;
	display:none;
  }
  .numbers__window__digit--2 {
	animation-iteration-count: 25; 
	 display:none;
  }
  .numbers__window__digit--3 {
	animation-iteration-count: 20; 
	 display:none;
  }
  .numbers__window__digit--4 {
	animation-iteration-count: 15;  
	display:none;
  }
  .numbers__window__digit--5 {
	animation-iteration-count: 10;  
	display:none;
  }
  .numbers__window__digit--6 {
	animation-iteration-count: 5;  
	display:none;
  }
