/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.action-icon {
  position: absolute;
  top: 125px;
}

.action-icon :first-child {
  width: 20px  !important;
  max-width: 20px !important;
height: 20px !important;
max-height: 20px !important;
border-radius:20px !important;
background-color: #B0AFBE !important;
}

.close {
  left: 330px
}

.move {
  left: 220px;
}

.boomio-wrapper {
  width: 520px;
  height: 540px;
  padding: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://github.com/boomio-api-v2/final-combined-wdigets-1/blob/quessWidget-new-design/src/widgets/guessWidget/background.png?raw=true');
}

.boomio-guess-cards,
.boomio-guess-card,
.boomio-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boomio-guess-cards {
  height: 220px;
  width: 220px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 30px;
}

.boomio-guess-cards .boomio-guess-card {
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 3 - 9px) !important;
  width: calc(100% / 3 - 9px) !important;
}

.boomio-guess-card.boomio-card-shake {
  animation: boomio-card-shake 0.35s ease-in-out;

}
.boomio-invisible {
  display: none;
}
.boomio-flytop1{
  animation: flyinNE 0.2s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}
.boomio-flytop2{
  animation: flyinNE 0.5s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}
.boomio-flytop3{
  animation: flyinNE 0.8s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes flyinNE {
  0% {
    transform:translateX(500px) translateY(-200px) rotateZ(350deg);
  }
}


.boomio-flymid1{
  animation: flyinE 1.2s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}
.boomio-flymid2{
  animation-duration: 0.75s;
  animation-delay: 0.8s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
  animation-name: animate-blur;
  animation-timing-function: ease;
  /* animation-name: animate-roll; */
}
.boomio-flymid3{
  animation: flyinW 1.2s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes flyinE {
  0% {
    transform:translateX(-500px) ;
  }
}
@keyframes flyinW {
  0% {
    transform:translateX(500px) ;
  }
}

.flybottom1{
  animation: flyinSW 1.2s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}
.flybottom2{
  animation: flyinSW 0.9s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}
.flybottom3{
  animation: flyinSW 0.6s 0.1s ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes flyinSW {
  0% {
    transform:translateX(-500px) translateY(200px) rotateZ(-350deg);
  }
}

@keyframes animate-blur {
  0% {
    opacity: 0;
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes animate-roll {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1) rotate(0deg);
  }
}


.boomio-card-jump {
  animation: jump 0.5s 0.2s ease-in-out;
}

 @keyframes jump {
 
  50%  {
     transform: translateY(-10px) ;
   }
   /* 30% {
     transform: rotate(0deg);
   }
  45% {
     transform: rotate(360deg);
   }
  60% {
     transform: rotate(720deg);
   } */
   /* 100% {
        transform: translateY(0px) ;
      } */
 }  

#boomio-guess-container {
  width: 300px;
  height: 300px;
}


@keyframes boomio-card-shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}



.boomio-guess-card .boomio-view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 12px;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s linear;
}

.boomio-guess-card .boomio-front-view img {
  width: 100% !important;
}

.boomio-guess-card .boomio-back-view img {
  width: 100% !important;
}

.boomio-guess-card .boomio-back-view {
  transform: rotateY(-180deg);
}

.boomio-guess-card.boomio-card-flip .boomio-back-view {
  transform: rotateY(0);
}

.boomio-guess-card.boomio-card-flip .boomio-front-view {
  transform: rotateY(180deg);
}


@media (min-width: 600px) {

  .boomio-guess-cards {
    height: 250px;
    width: 250px;
    margin-top:120px;
    margin-left: 100px;
  }

  .boomio-guess-cards .boomio-guess-card {
    height: calc(100% / 3 - 10px) !important;
    width: calc(100% / 3 - 10px) !important;
  }


  .boomio-wrapper {
    width: 650px;
    height: 650px;
    padding: 100px;

  }

  .action-icon {
    top: 180px;
  }

  .action-icon :first-child {
    width: 25px !important;
    max-width: 25px !important;
    height: 25px !important;
max-height: 25px !important;
border-radius:20px !important;
background-color: #B0AFBE !important;
  }

  .close {
    left: 430px;

  }

  .move {
    left: 380px;
  }

  #boomio-guess-container {
    width: 600px;
    height: 600px;
  }

}