{
  "parserOptions": {
    "requireConfigFile": false
  },
  "parser": "@babel/eslint-parser",
  "extends": [],
  "plugins": ["unused-imports"],
  "env": {
    "browser": true
  },
////TO DO need to fix this rules
  "rules": {
    "no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "camelcase": "off",
    "no-tabs": 0,
    "no-undef": "warn",
    "no-new": "off",
    "import/no-cycle": "off",
    "class-methods-use-this": "off",
    "no-constructor-return":  "off",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "no-mixed-operators": "off",
    "import/prefer-default-export": "off",
    "prefer-const": "off",
    "no-console\n": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "no-async-promise-executor": "off",
    "brace-style": "off"
  }
}