@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.jumping-image {
  animation: jump 2s ease-in-out 5;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
}
