@keyframes move-in {
  0% {
    bottom: 50%;
    right: -120px;
    transform: rotate(0deg);
  }
  10% {
    bottom: 52%;
    right: 0%;
    transform: rotate(-360deg);
  }
  25% {
    bottom: 50%;
    right: 4%;
    transform: rotate(-720deg);
  }
  37.5% {
    bottom: 45%;
    right: 7%;
    transform: rotate(-1080deg);
  }
  50% {
    bottom: 35%;
    right: 10%;
    transform: rotate(-1440deg);
  }
  62.5% {
    bottom: 20%;
    right: 15%;
    transform: rotate(-1800deg);
  }
  75% {
    bottom: 10%;
    right: 20%;
    transform: rotate(-2160deg);
  }
  100% {
    bottom: -42px;
    right: 25%;
    transform: rotate(-2800deg);

  }
}
@keyframes bounce-left {
  0% {
    bottom: -42px;
    right: 25%;
  }
  75% {
    bottom: -42px;
  }
  100% {
    right: 80%;
    bottom: 0px;
    transform: translateX(0px) rotate(-2160deg); /* Adjust the translateX value for faster movement */
  }
}


@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-180px);
  }
}

@keyframes move-slowly {
  0% {
    right: 80%;
    bottom: 0px;
    transform: translate(0px, 0px);
  }
  100% {
    right: 80%;
    bottom: 0px;
    transform: translate(1px,-2px),rotate(3deg);
  }
}

@media (max-width: 1300px) {
  @keyframes move-slowly {
    0% {
      right: 70%;
      bottom: 0px;
      transform: translate(0px, 0px);
    }
    100% {
      right: 70%;
      bottom: 0px;
      transform: translate(1px, -2px) rotate(3deg);
    }
  }
  @keyframes bounce-left {
    0% {
      bottom: -42px;
      right: 25%;
    }
    85% {
      bottom: -42px;
    }
    100% {
      right: 70%;
      bottom: 0px;
      transform: translateX(0px) rotate(-2160deg); /* Adjust the translateX value for faster movement */
    }
  }
}


@media (max-width: 600px) {
  @keyframes move-slowly {
    0% {
      right: 50%;
      bottom: 0px;
      transform: translate(0px, 0px);
    }
    100% {
      right: 50%;
      bottom: 0px;
      transform: translate(1px, -2px) rotate(3deg);
    }
  }
  @keyframes bounce-left {
    0% {
      bottom: -42px;
      right: 25%;
    }
    85% {
      bottom: -42px;
    }
    100% {
      right: 50%;
      bottom: 0px;
      transform: translateX(0px) rotate(-2160deg); /* Adjust the translateX value for faster movement */
    }
  }
}
