.game-container {
  position: fixed;
}
.mole {
  width: 120px;
  height: 120px;
  z-index: 999999999;
  cursor: pointer;
  display: none;
}

.mole-image {
  width: 120px;
  height: 120px;
  z-index: 999999999;
  cursor: pointer;
}

.hammer {
  width:60px;
  height:67.6px;
  right: -6px;
  top: -1px;
  position:absolute;
  z-index: 100000000000;
  transform: rotate(16deg);
  transition: right 0.4s, transform 0.4s, opacity 0.3s ease;
}

.score {
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: Play;
  font-size: 18px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(41.01deg, #FF6E6D 0%, #FF3183 5.48%, #598BF3 88.77%, #657BEA 95.23%, #34B0DC 101.49%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.no-pointer-events {
  pointer-events: none;
}


@media (max-width: 600px) {
  .mole {
    width: 40px;
    height: 40px;
    z-index: 999999999;
    cursor: pointer;
    display: none;
  }
  
  .mole-image {
    width: 40px;
    height: 40px;
    z-index: 999999999;
    cursor: pointer;
  }

  .hammer {
    width:40px;
    height:40px;
    right: -80px;
    top: -10px;
    position:absolute;
    z-index: 100000000000;
    transform: rotate(30deg);
    transition: right 0.4s, transform 0.4s, opacity 0.3s ease;
  }
}


@keyframes moleAppear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes moleDisappear {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20%);
    opacity: 0;
  }
}

@keyframes mole-hit {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.mole.appear {
  animation: moleAppear 0.4s ease-in-out;
}

.mole.disappear {
  animation: moleDisappear 0.9s ease-in-out;
}

.mole.mole-hit {
  animation: mole-hit 1s ease-in-out;
}






@keyframes cloud-animation {
  from {
      transform: scale(0)
  }
  to {
      transform: scale(2.5);
  }
}

.cloud {    margin-top:-20px;
  margin-left:-70px;


  position: absolute;
  z-index: 100000;
  height: 100px;
  width: 100px;
  animation: cloud-animation;
  transition: transform 2s;
  animation-duration: 2s;
  pointer-events: none;
}
