.game-container-whack {
  position: fixed;
  display:flex;
  justify-content: center;
  align-items:center;
}

.boomio-mole {
  /* width: 380px;
  height: 360px; */
  /* width: 300px;
  height: 200px; */
  z-index: 999999999;
  cursor: pointer;
  display: none;
}

.boomio-mole-image {
  /* width: 380px;
  height: 260px; */
  width: 300px;
  height: 200px;
  z-index: 999999999;
  cursor: pointer;
  transition: opacity 0.2s ease;
  /* background-color: red; */
}

/* .mole-set {
  width: 380px;
  height: 260px;
} */

/* .set {
  display: flex;
  flex-direction: row;
}

.set-box {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;
} */

.boomio-mole-image.hide {
  opacity: 0;
  pointer-events: none;
}

.boomio-mole-hit-image {
  transition: opacity 0.5s ease;
  /* Add other styles as needed */
}

.boomio-mole-hit-image.hide {
  opacity: 0;
  pointer-events: none;
}

.boomio-mole-hit.show {
  opacity: 1;
}

.boomio-mole-image.show {
  opacity: 1;
}

.boomio-hammer {
  /* width: 380px;
  height: 260px; */
  /* right: -30px;
  top: -30px; */

  width: 300px;
  height: 200px;
  right: -10px;
  top: -50px;
  position: absolute;
  z-index: 100000000000;
  transform: rotate(16deg);
  transition: right 0.4s, transform 0.4s, opacity 0.3s ease;
}

.boomio-score {
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: Play;
  font-size: 20px;
  font-weight: 700 !important;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(41.01deg, #FF6E6D 0%, #FF3183 5.48%, #598BF3 88.77%, #657BEA 95.23%, #34B0DC 101.49%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.no-pointer-events {
  pointer-events: none;
}


@media (max-width: 600px) {

  .boomio-mole-image {
    /* width: calc(380px*1/2);
    height: calc(260px*1/2); */
    width: 200px;
    height: 133px;
    z-index: 999999999;
    cursor: pointer;
  }

  .boomio-hammer {
    /* width: calc(380px*1/2);
    height: calc(260px*1/2); */
    width: 200px;
    height: 133px;
    right: -10px;
    top: -10px;
    position: absolute;
    z-index: 100000000000;
    transform: rotate(16deg);
    opacity: 1 !important;
    transition: right 0.4s, transform 0.4s, opacity 0.3s ease;

  }

  .round-close-icon-whack {
    left:-50px !important;
     }

  .round-close-icon-whack :first-child {
    
    width: 15px !important;
    
  }
}


@keyframes moleAppear {
  0% {
    opacity: 0;
    /* transform: translateY(100%); */
  }

  100% {
    opacity: 1;
    /* transform: translateY(0%); */
  }
}

@keyframes moleDisappear {
  from {
    /* transform: translateY(0); */
    opacity: 1;
  }

  to {
    /* transform: translateY(20%); */
    opacity: 0;
  }
}

@keyframes boomio-mole-hit {
  0% {
    transform: scale(1);
  }

  35% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  85% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}


.boomio-mole.boomio-whack-appear {
  animation: moleAppear 1.3s ease-in-out;
  /* animation: moleAppear 0.6s ease-in-out; */
}

.boomio-mole.boomio-whack-disappear {
  animation: moleDisappear 1.4s ease-in-out;
  /* animation: moleDisappear 0.7s ease-in-out; */
}

.boomio-mole.boomio-mole-hit {
  animation: mole-hit 1s ease-in-out;
  /* animation: mole-hit 0.5s ease-in-out; */
}

.boomio-mole.boomio-mole-hit-once {}





@keyframes cloud-animation {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(2.5);
  }
}

.cloud {
  margin-top: -20px;
  margin-left: -70px;


  position: absolute;
  z-index: 100000;
  height: 100px;
  width: 100px;
  animation: cloud-animation;
  transition: transform 2s;
  animation-duration: 2s;
  pointer-events: none;
}

.round-close-icon-whack {
  position: absolute;
  top: 0px;
  left: -20px;
  padding: 6px;
  margin-left: 10px;
}

.round-close-icon-whack :first-child {
  width: 20px;
  padding:6px;
 }