.game-container {
  position:fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); 
  background-color: rgba(128, 128, 128, 0.3);
  display:flex;
  justify-content: center;
  align-items:center;
}

.boomio-NewGame-container {
	height: 668px;
	position: relative;
	margin: 20px auto 0; 
	overflow: hidden;
}

.boomio-newGame-canvas {
	height: 668px;
	display: block;
	background-size: cover;

}