#ice-widget {
    height: 201px;
    width: 246px;
    box-sizing: border-box;
}

#ice-widget .coupon {
    height: 201px;
    width: 246px;
    background-size: cover;
}

#ice-widget .boomio-piece-of-ice {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000;
    transition: top 1.4s, transform 0.5s, opacity 4s;
}

#ice-widget .boomio-bang {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 10000000000000;
    top: 100px;
    left: 90px;
}

#ice-widget .boomio-ice-block {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000;
}


#ice-widget .boomio-hammer {
    position: absolute;
    right: -170px;
    top: -60px;
    z-index: 100000000000;
    transition: all 0.4s;
    transform: rotate(40deg);
    width: 100px;
    height: 100px;
}

#ice-widget .product-design-bg-2 {
    border-radius: 24px;
}

#ice-widget .boomio-coupon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {
    #ice-widget .coupon-grey-shadow-wrapper {
        height: 80px;
        width: 102px;
    }
    #ice-widget .coupon-grey {
        height: 80px;
        width: 102px;
    }

    #ice-widget, #ice-widget .boomio-piece-of-ice,  #ice-widget .boomio-ice-block {
        width: 131px;
        height: 118px;
    }


    #ice-widget .boomio-hammer {
        height: 100px;
        width: 80px;
        right: -75px;
        top: -30px;
    }


    #ice-widget .coupon_info h3 {
        font-size: 20px;
        line-height: 16px;
    }

    #ice-widget .coupon_info h4 {
        font-size: 12px;
        line-height: 16px;
        margin-top: 3px;
    }

    #ice-widget .coupon_info p {
        font-size: 6px;
        margin-top: 4px;
    }

    #ice-widget .coupon__preview__card::before, #ice-widget .coupon__preview__card::after{
        width: 26px;
        height: 26px;
    }

    #ice-widget .coupon__preview__card {
        border-radius: 15px;
    }

    #ice-widget .boomio-bang {
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 10000000000000;
        top: 35px;
        left: 50px;
    }
}
