#ice-widget {
    height: 201px;
    width: 246px;
    padding: 16px 10px 0 10px;
    box-sizing: border-box;
}

#ice-widget .piece-of-ice {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000;
    transition: all 1.2s;
}

#ice-widget .coupon {
    height: 100%;
}

#ice-widget .hammer {
    position: absolute;
    right: -150px;
    top: -60px;
    z-index: 100000000000;
    transition: all 0.4s;
    transform: rotate(40deg);
}