#ice-widget {
    height: 201px;
    width: 246px;
    padding: 16px 10px 0 10px;
    box-sizing: border-box;
}

#ice-widget .coupon {
    height: 201px;
    width: 246px;
    background-size: cover;
}

#ice-widget .piece-of-ice {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000;
    transition: top 1.4s, transform 0.5s, opacity 4s;
}

#ice-widget .bang {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 10000000000000;
    top: 100px;
    left: 90px;
}

#ice-widget .ice-block {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000000;
}


#ice-widget .hammer {
    position: absolute;
    right: -170px;
    top: -60px;
    z-index: 100000000000;
    transition: all 0.4s;
    transform: rotate(40deg);
}

#ice-widget .coupon {
    height: 180px;
    width: 228px;
    background-size: contain;
}

#ice-widget .coupon_info {
    padding: 28px;
}

#ice-widget .product-design-bg-2 {
    border-radius: 24px;
}

@media (max-width: 600px) {
    #ice-widget, #ice-widget .piece-of-ice,  #ice-widget .ice-block {
        width: 150px;
        height: 118px;
    }

    #ice-widget .coupon {
        height: 99px;
        width: 125px;
    }

    #ice-widget .hammer {
        height: 70px;
        width: 60px;
        right: -60px;
        top: -30px;
    }

    #ice-widget .coupon_info {
        padding: 10px;
    }

    #ice-widget .coupon_info h3 {
        font-size: 16px;
        line-height: 24px;
    }

    #ice-widget .coupon_info p {
        font-size: 8px;
    }

    #ice-widget .coupon__preview__card::before, #ice-widget .coupon__preview__card::after{
        width: 26px;
        height: 26px;
    }

    #ice-widget .coupon__preview__card {
        border-radius: 15px;
    }

    #ice-widget .bang {
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 10000000000000;
        top: 50px;
        left: 80px;
    }
}

