.chain-div {
  position: fixed; /* Use position: fixed to make it relative to the viewport */
  top: 0px; /* Position it at 100 pixels from the top of the viewport */
  left: 50px; /* Position it at the left of the viewport */
  width: 50px; /* Set the width of the custom-div */
  height: 50px; /* Set the height of the custom-div */
  background-color: blue; /* Set the background color or any other styles */
  z-index: 2; /* Ensure it appears above other elements */
}


.claw-div {
  position: fixed; /* Use position: fixed to make it relative to the viewport */
  top: 50px; /* Position it at 100 pixels from the top of the viewport */
  left: 0; /* Position it at the left of the viewport */
  width: 100px; /* Set the width of the custom-div */
  height: 100px; /* Set the height of the custom-div */
  background-color: blue; /* Set the background color or any other styles */
  z-index: 2; /* Ensure it appears above other elements */
}

.claw-line-div {
  height: 100px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;  
  position: fixed;
  bottom: 0px;
  left: 0px;
}

/* Define a CSS class for the new-div */
.claw-present-div {
  width: 50px;
  height: 50px;
  background-color: purple;
  position: absolute;
}

@media (max-width: 600px) {
  .chain-div {
    position: fixed; /* Use position: fixed to make it relative to the viewport */
    top: 0px; /* Position it at 100 pixels from the top of the viewport */
    left: 25px; /* Position it at the left of the viewport */
    width: 25px; /* Set the width of the custom-div */
    height: 25px; /* Set the height of the custom-div */
    background-color: blue; /* Set the background color or any other styles */
    z-index: 2; /* Ensure it appears above other elements */
  }
  
  
  .claw-div {
    position: fixed; /* Use position: fixed to make it relative to the viewport */
    top: 25px; /* Position it at 100 pixels from the top of the viewport */
    left: 0; /* Position it at the left of the viewport */
    width: 50px; /* Set the width of the custom-div */
    height: 50px; /* Set the height of the custom-div */
    background-color: blue; /* Set the background color or any other styles */
    z-index: 2; /* Ensure it appears above other elements */
  }
  
  .claw-line-div {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
  }
  
  /* Define a CSS class for the new-div */
  .claw-present-div {
    width: 25px;
    height: 25px;
    background-color: purple;
    position: absolute;
  }
}

