.chain-div {
  position: fixed; /* Use position: fixed to make it relative to the viewport */
  top: 0px; /* Position it at 100 pixels from the top of the viewport */
  left: 50px; /* Position it at the left of the viewport */
  width: 82px; /* Set the width of the custom-div */
  height: 202px; /* Set the height of the custom-div */
z-index: 9999999999999;
}


.claw-div {
  z-index: 9999999999999;
  position: fixed; /* Use position: fixed to make it relative to the viewport */
  top: 182px; /* Position it at 100 pixels from the top of the viewport */
  left: 0px; /* Position it at the left of the viewport */
  width: 190px; /* Set the width of the custom-div */
  height: 170px; /* Set the height of the custom-div */
}

.claw-line-div {
  height: 100px;
  background-color: transparent;
  position: fixed;
  background-Size: 100% 100%;
  height:90px;
  bottom: -8px;
  left: 0px;
}

.boomio-control-button ::before {
  content: '\25b6';
  margin-left: 8px;
  margin-right: 8px;
}

/* Define a CSS class for the new-div */
.claw-present-div {
  z-index:1000;
  width: 50px;
  height: 50px;
  position: absolute;
}
.claw-div-transition {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  }

  
@media (max-width: 768px) {
  .chain-div {
    position: fixed; /* Use position: fixed to make it relative to the viewport */
    top: 0px; /* Position it at 100 pixels from the top of the viewport */
    left: 25px; /* Position it at the left of the viewport */
    width: 62px; /* Set the width of the custom-div */
    height: 190px; /* Set the height of the custom-div */
  }

  
  .claw-div {
    position: fixed; /* Use position: fixed to make it relative to the viewport */
    top: 175px; /* Position it at 100 pixels from the top of the viewport */
    left: 10px; /* Position it at the left of the viewport */
    width: 136px; /* Set the width of the custom-div */
    height: 122px; /* Set the height of the custom-div */
    }
  
  .claw-line-div {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: -8px;
    left: 0px;
  }
  
  /* Define a CSS class for the new-div */
  .claw-present-div {
    width: 25px;
    height: 25px;
    position: absolute;
  }
}

