@font-face {
	font-family: 'pixelFlag'; 
	src: url('./assets/fonts/000webfont1.ttf') 
}

@font-face {
	font-family: 'Botsmatic3d'; 
	src: url('./assets/fonts/Botsmatic3d.ttf') 
}
@font-face {
	font-family: 'BotsmaticOutline'; 
	src: url('./assets/fonts/BotsmaticOutline.ttf') 
}
@font-face {
	font-family: Pixelify Sans; 
	src: url('./assets/fonts/BotsmaticDemo.ttf') 
}
::-webkit-scrollbar {
	width: 0;
  }

  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600&display=swap');



.boomio-runner-body{
  width: 100%;
	height: 100%;
	background-color: black;
	font-family: 'pixelFlag';
	color: #fff;
	overflow: hidden;
	margin: 0;
}
.boomio-circles{
	position: absolute;
    overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	pointer-events: none;
	z-index: 0;
}

.boomio-circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
	border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    animation: animate 5s linear infinite;
    bottom: -150px;
	
    
}

.boomio-circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
	animation-duration: 7s;
}


.boomio-circles li:nth-child(2){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 18s;
}

.boomio-circles li:nth-child(3){
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 9s;
	animation-duration: 8s;
}

.boomio-circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 17s;
}

.boomio-circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.boomio-circles li:nth-child(6){
    left: 75%;
    width: 80px;
    height: 80px;
    animation-delay: 3s;
	animation-duration: 6s;
}

.boomio-circles li:nth-child(7){
    left: 35%;
    width: 50px;
    height: 50px;
    animation-delay: 5s;
	animation-duration: 20s;
}

.boomio-circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 15s;
}

.boomio-circles li:nth-child(9){
    left: 20%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.boomio-circles li:nth-child(10){
    left: 85%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 5s;
}



@keyframes animate {

    0%{
        transform: translateY(-50vh);
        opacity: 0;
    }

    100%{
        transform: translateY(-120vh);
        opacity: 1;
    }

}
.boomio-runner-main{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.boomio-screenRatio{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
.boomio-insideScreenRatio{
	padding: 20px;
	margin: 0;
	width: 70%;
	height: 60%;
}

.boomio-runner-wrapper {
	position: relative;
	overflow: hidden;
}

.boomio-runner-canvas{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -10;
}
.boomio-runner-controlBlock{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
  font-size: 30px;
	background-color: rgba(47, 31, 46, 0.55);
	border-radius: 10px 10px;
	opacity: 0;
	top: 30%;
	left: 50%; 
	padding: 20px;
	box-sizing: border-box;
  	transform: translate(-50%, -50%);
	transition: 1s;
}
.boomio-runner-controlButton{
	
	height: 45px;
	width: 45px;
	margin: 4px;
	image-rendering: pixelated;
}
.boomio-runner-mobileControlButt{
	height:13vh;
	width: auto;
	image-rendering: pixelated;
	background-color: rgba(255, 255, 255, 0.237);
	border-radius: 20%;
	padding: 10px;
}
.boomio-runner-leftButtonsBlock{
	display: none;
}
.boomio-runner-rightButtonsBlock{
	display: none;
}

.boomio-runner-pause,
.boomio-runner-gameOver,
.boomio-runner-mainMenu, 
.boomio-runner-credits, .runner-tutorial, .boomio-runner-achives, .store{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 35px;
}
.boomio-runner-mainTitle{
	font-family: Pixelify Sans;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 70px;
	height: 40%;
	z-index: 100;
  line-height: 1.3;
}
.boomio-runner-subtitle{
	font-family: 'pixelFlag';
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 3px;

}
.boomio-runner-pause, .boomio-runner-gameOver{
	background: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/popup.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-repeat: no-repeat;
	border-radius: 20px 20px;
	line-height: 1.3;
  animation: soft 0.2s ease-out;
  font-size: 50px;
  font-weight: bold;
}
@keyframes soft {
  0% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.boomio-runner-mainMenuButtons{
  margin-top:80px;
  width: 100%;
  font-size: 20px;
	display: flex;
	justify-content: space-evenly;
	z-index: 100;
  font-family: Pixelify Sans;

}

.boomio-runner-menuButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width:150px;
  height: 80px;
  padding: 10px 20px;
  background-image: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/midBtn.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  transition: 0.3s;

}
.boomio-runner-playButton{
  position: relative;
  bottom: 100px
}
.boomio-runner-menuButton img{
  height: 40px;
  margin-right: 10px;
}
.boomio-runner-pauseButton {
	position: absolute;
	height: 40px;
	width: 40px;
	right: 20px;
	top: 20px;
}
.boomio-runner-replayButton, .boomio-runner-replayButton1, .boomio-runner-homeButton,.boomio-runner-homeButton1, .playOnPauseButton {
	height: 55px;
	width: 55px;
	margin: 20px;
}
.boomio-rightTopBlock{
	position:absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20px;
	right: 20px;
}
.boomio-runner-smallBtn{
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-image: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/boomio-runner-smallBtn.png');
  
	background-size: contain;
	background-repeat: no-repeat;
	image-rendering: pixelated;
	padding: 10px;
margin-right: 10px;}
.boomio-runner-smallBtn:hover{
	filter: brightness(0.7);
}
.boomio-runner-soundBtn{
  height: 50px ;
  width: 50px ;
	content: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/soundOn.png');
}
.boomio-runner-soundBtnOff{
	content: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/soundOff.png');
	filter: brightness(0.6) !important;
}


.playOnPauseButton{
	width: 50px;
}
.boomio-runner-smallBtn{
	filter:drop-shadow(5px 5px 5px #0000004e);
	cursor: pointer;
}
.button:hover{
	filter: brightness(0.7);

}
.boomio-runner-score{
	position: absolute;
	left: 20px;
	top: 5px;
	color: #fff;
	font-size: 40px;
}
.boomio-runner-coins{
	position: absolute;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
	left: 20px;
	top: 55px;
	color: #ffd502;
	font-size: 25px;
}
.boomio-runner-coins img{
  width: 20px;
}
.boomio-runner-storeCoins{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 45px;
  top: 20%;
  left: 5%;
}
.boomio-runner-storeCoins img{
  width: 40px;
  height: 35px;
}

.boomio-runner-gameOverScore{
	position: unset;
	font-size: 50px;
}
.boomio-runner-HIandRecord{
  font-size: 50px;
  font-weight: bold;
}


.boomio-runner-mainBg{
	font-family: 'pixelFlag';
	display: flex;
	flex-direction: row;
	filter: brightness(0.9);
	background-size: cover;
	background-position:top;
	background-image: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/stuff/bg.png');
  
}
.boomio-runner-mainLeftInfo{
  position: absolute;
	left: 25px;
	top: 30px;
	z-index: 100;
  display: flex;

}
.mainLeftWrapper{
	display: flex;
	align-items: center;
  margin-bottom: 10px;
}
.boomio-runner-mainStatText{
  font-weight: 600;
  font-size: 55px;
  margin-right: 15px;
}
#boomio-runner-prizeImg{
	width: 50px;
	height: auto;
	margin-right: 15px;
}

#boomio-runner-coinImg{
	width: 50px;
	height: auto;
	margin-right: 15px;
}

.boomio-runner-credits, .boomio-runner-achives, .store{
	flex-direction: column;
	font-size: 50px;
	text-shadow: unset;
	overflow-y: auto;
	padding: 20px;
	box-sizing: border-box;
	justify-content: space-between;
}

.boomio-runner-achivesHolder{
  animation: fromTop 0.6s ;
}

@keyframes fromTop {
  0% {
    transform: translateY(-50%);
    display: none;
  }
  100% {
    display: block;
  }
}
.boomio-runner-creditsHolder{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
  animation: fromTop 0.6s;
}

.store{
  padding: 0;
}

.boomio-runner-achivesHolder{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.boomio-runner-storeHolder{
  height: 100%;
  position: relative;
  animation: fellOnTop 0.6s ease-in;
}
.boomio-runner-storeBack{
  content: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/store.png');
  height: 80%;
  position: relative;
}
.boomio-runner-store-return-btn{
  position: absolute;
  bottom: 20px;
}
.boomio-runner-addBtn{
  position: absolute;
  align-items: center;
  top: 30%;
  right: 10%;
  content: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/addBook.png');
  height: 40%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}
.boomio-runner-addBtn:hover{
  filter: brightness(0.8);
}
.boomio-runner-saveMeHolder{
  font-weight: normal;
  font-size: 30px;
}
.boomio-runner-saveMeAdd{
  align-items: center;
  background-image: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/smallBtn.png');
  height: 40%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  position: static;
}
.boomio-runner-saveMeButtonsHolder{
  display: flex;
  align-items: flex-start;
}
.boomio-runner-gameOverCoinsHolder{
  display: flex;
  align-items: baseline;
  font-size: 50px;
  justify-content: center;
  border-bottom: 5px solid white;
  padding: 0 15px;
}
.boomio-runner-payForLife{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.boomio-runner-payForLifeImg{
  position: relative;
  top: 2px;
  width: 25px;
  height: 20px;
  image-rendering: auto;
}
.upgrade{
  display: flex;
  align-items: end;
  justify-content: center;
}
.upgradeCoinImg{
  width: 20px;
  height: 18px;
  image-rendering:auto;
  position: relative;
  top: 2px;
}
.upgradeBtnContent{
  position: absolute;
  top: 45%;  
  left: 52%;
  transform: translate(-50%, -50%); 
  display: flex;
  align-items: center;
}

.boomio-runner-upgradeHolder img{
  width: 50px;
  image-rendering:auto;

}
.boomio-runner-upgradeHolder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.boomio-runner-upgradesWrapper{
  position: absolute;
  top: 35%;
  left: 10%;
}
.boomio-runner-shieldUpgradeHolder, .boomio-runner-boosterUpgradeHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  image-rendering: pixelated;
  text-align: left;
}
.boomio-runner-upgradeHolder{
  background-image: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/btn.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
.boomio-runner-upgradeLevel{
  width: 20px;
  height: 20px;
  margin-right:10px ;
  border-radius: 50%;
  background-color: #27110938;
}
.boomio-runner-activeLevel{
  background-color: #4b0808ad;
}
.boomio-runner-upgradeProgress{
  margin-left: 15px;
  display: flex;
}
.boomio-runner-upgradeBtn{
  margin: 0;
  margin-left: 10px;
  font-size:30px;
  position: relative;
  padding: 17px;
}

@keyframes fellOnTop {
  0% {
    transform: translateY(-50%);
    display: none;
  }
  35% {
    transform: translateY(-8%);
  }
  60% {
    transform: translateY(-12%);
  }
  100% {
    display: block;
  }
}
.boomio-runner-achiveBlock{
	font-family: 'pixelFlag';
	align-items: center;
	font-size: 25px;
	display: flex;
	padding: 10px;
	color: rgb(255, 255, 255);
	width: 40%;
	height:fit-content;
	background-color: rgb(36, 30, 68);
	margin-bottom: 20px;
	border-radius: 10px 10px;
}

.boomio-achiveText{
	text-align: center;
}
.boomio-achiveText p{
	margin: 0;
	font-size: 30px;
	text-decoration: underline 3px;
}
.boomio-achiveImg{
	height: 50px;
	margin-right: 20px;
}
.boomio-lock{
	opacity: 0.7;
}
.boomio-statsHolder{
	display: flex;
	font-size: 30px;
	margin-bottom: 20px
}
.boomio-btn {
	width: auto;
	height: auto;
	padding: 30px;
	height: auto; 
	border: 0;
	outline: none;
	cursor: pointer;
	font-family: 'pixelFlag';
	background: none;
	background-image: url('https://raw.githubusercontent.com/boomio-api-v2/final-combined-wdigets-1/refs/heads/feature/new-testing/images/runningWidget/assets/gui/btn.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position:right;
	image-rendering: pixelated;
  font-size: 30px;
	color:rgb(255, 255, 255);
  transition: 0.3s;
}
.boomio-btn:hover, .boomio-runner-menuButton:hover{
	filter: brightness(0.8);
  transform: scale(1.03);
}
.boomio-runner-return-btn-holder{
	width: 100%;
	height: fit-content;
	position:sticky;
	right: 10px;
  bottom: 0px;
}
.boomio-runner-return-btn{
	font-size: 35px;
  animation: fromBottom 0.6s ease-in-out;
}

@keyframes fromBottom {
  0% {
    transform: translateY(50%);
    display: none;
  }
  100% {
    display: block;
  }
}
.boomio-runner-stat{
	margin-right: 20px;
}
.boomio-runner-credits{
  font-size: 30px;
	font-family: Pixelify Sans;
}
.boomio-runner-credits a{
	font-family: 'pixelFlag';
	font-weight: bold;
	color: rgb(30, 0, 94)
}
.boomio-runner-credits a:hover{
	color: rgb(51, 10, 140)
}

.boomio-runner-mainMenuSide{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.boomio-runner-credits{
	text-shadow: unset;
}


.boomio-runner-loader {
  display: inline-block;
  position: relative;
  top:40%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  z-index: 1000;
}
.boomio-runner-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.boomio-runner-loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.boomio-runner-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.boomio-runner-loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.boomio-hide {
	display: none;
  opacity: 0;
}
@media screen and (orientation: portrait) {
	#turnLandscape{
		display: flex;
		align-items: center;
		justify-content: center;
		color:rgb(255, 255, 255);
		flex-direction: column;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0);
	}
	#rotateIcon{
		height: 100px;
	}

	.boomio-runner-main {
	  display: none;
	}
}
  
@media screen and (orientation: landscape) {
	#turnLandscape{
		display: none;
	}
	.boomio-runner-main {
		display: flex;
	}
}
@media (max-width: 920px){
	.boomio-screenRatio{
		width: 100%;
		height: 100%;
		box-sizing: border-box;

	}
  .boomio-rightTopBlock{
    right: 30px;
    top: 30px;
  }
  .boomio-runner-mainTitle{
    font-size: 50px;
    line-height: 1.4;
  }
  .boomio-runner-subtitle{
    font-size: 25px;
  }
  .boomio-runner-smallBtn{
    width: 24px;
    height: 24px;
  }
  .boomio-runner-soundBtn{
    height: 40px ;
    width: 40px ;
  }
  .boomio-runner-score{
    font-size: 50px;
    
  }
  .boomio-runner-coins{
    font-size: 40px;
    top: 35px;

  }
  .boomio-btn{
    padding: 18px;
  }
  .boomio-runner-return-btn {
    font-size: 25px;
}
  .boomio-runner-playButton{
    bottom: 65px;
  }
  .boomio-runner-menuButton img{
    height: 30px;
  }
  .boomio-runner-menuButton {
    width:120;
    height: 50;
  }
  .boomio-runner-mainMenuButtons{
    font-size: 15px;
  }
	.boomio-insideScreenRatio{
		overflow: scroll;
		width: 85%;
		height: 85%;
	}
  #boomio-runner-coinImg {
    width: 40px;
  }
  #boomio-runner-coinImg {
    width: 40px;
  }
	.boomio-runner-mainStatText{
		font-size: 40px;
	}
	.boomio-runner-pause, .boomio-runner-gameOver{
		font-size: 35px;
	}
  .boomio-runner-HIandRecord {
    font-size: 40px;
    line-height: 0;
  } 
  .boomio-runner-saveBtn{
    height: 40px;
    width: 40px;
  }
  .gameOverCoins{
    font-size: 35px;
  }
	.boomio-runner-pauseButton {
		height: 30px;
		width: 30px
	}
	.boomio-rightTopBlock{
		width: 30px;
		height: 30px;
	}
  .boomio-buttonHolder{
    height: 50px;
  }
	.boomio-achiveImg{
		height: 43px;
		margin-right: 10px;
	}
	.boomio-achiveText p{
		font-size: 25px;
	}
  .boomio-statsHolder{
    font-size: 25px;
  }
	.boomio-achiveText{
		font-size: 19px;
	}
	.boomio-runner-achivesHolder{
		justify-content: space-evenly;
	}
	.boomio-runner-achiveBlock{
		justify-content: center;
		width: 43%;
	}
	.boomio-runner-achives{
		padding: 10px;
	}
	.boomio-runner-credits{
		font-size: 30px;
	}
	.boomio-runner-credits a{
		font-size: 25px;
	}
	.boomio-runner-leftButtonsBlock{
		display: block;
		position: absolute;
		left: 40px;
		bottom: 20px;
	}
	.boomio-runner-rightButtonsBlock{
		display: block;
		position: absolute;
		right: 40px;
		bottom: 20px;
	}
	.boomio-runner-controlBlock{
		display: none;
	}
  .boomio-runner-upgradesWrapper {
    top: 30%;
    left: 7%;
  }
  .boomio-runner-upgradeHolder{
    padding: 12px;
  }
  .boomio-runner-upgradeHolder img {
    width: 34px;
  }
  .boomio-runner-shieldUpgradeHolder, .boomio-runner-boosterUpgradeHolder{
    font-size: 24px;
  }
  .boomio-runner-upgradeLevel{
    height: 15px;
    width: 15px;
    margin-right: 8px;
  }
  .boomio-runner-storeCoins{
    font-size: 35px;
  }
  .boomio-runner-mainLeftInfo{
  flex-direction: column;
  align-items: flex-end;    
  }
  .boomio-runner-mainStatText{
    margin: 0;
  }
  .boomio-runner-storeCoins img {
    width: 30px;
    height: 25px;
  }
  .boomio-runner-replayButton,.boomio-runner-replayButton1, .boomio-runner-homeButton,.boomio-runner-homeButton1, .playOnPauseButton {
    height: 40px;
    width: 40px;
    margin: 10px;
  }
  .boomio-runner-storeBack{
    height: 85%;
  }
  .boomio-runner-store-return-btn {
    position: absolute;
    bottom: 0px;}
  .boomio-hide {
    display: none;
  }
}