

#boomio-newGame-canvas {
  background-color: #000;
  z-index: 2;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  margin: auto;
}

#parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.land {
  animation: land .35s;
  animation-iteration-count: 1;
}
#canvas-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

@keyframes land {
  0% { transform: translate(0, 2px); }
  10% { transform: translate(0, -2px); }
  20% { transform: translate(0, 4px); }
  30% { transform: translate(0, -4px); }
  40% { transform: translate(0, 8px); }
  50% { transform: translate(0, -8px); }
  60% { transform: translate(0, 4px); }
  70% { transform: translate(0, -4px); }
  80% { transform: translate(0, 2px); }
  90% { transform: translate(0, -2px); }
  100% { transform: translate(0, 0px); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(2deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-2deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(2deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-2deg); }
}
