#penguin-widget {
    width: 359px;
    height: 220px;
    overflow: hidden;
}

#penguin-widget #hammer {
    position: absolute;
    z-index: 10000;
    height: 90px;
    transition: 1s transform;
    transform: rotate(40deg);
}

.ice-background {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
}

.ice-block {
    transition: top 1s, left 1s;
}


@media only screen and (max-device-width: 640px) {
    #penguin-widget {
        width: 256px;
        height: 187px;
    }
    #penguin-widget #hammer {
        height: 50px;
    }
}