#stone-container {
    width: 260px;
    height: 260px;
    border: 1px solid black;
    overflow: hidden;
}

#stone-container .block {
    position: absolute;
    z-index: 1000;
    width: 55px;
    height: 55px;
}

#stone-container #hammer {
    position: absolute;
    z-index: 10000;
}

#stone-container .chest {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 10px;
    left: 40px;
}

@keyframes explosion-one-animation {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(4);
    }
}

@keyframes explosion-two-animation {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(3);
    }
}

@keyframes explosion-three-animation {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes cloud-animation {
    from {
        transform: scale(0.6)
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes remove {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0);
    }
}

.explosion-one{
    position: absolute;
    z-index: 100000;
    height: 120px;
    width: 120px;
    animation: explosion-one-animation;
    transition: transform 0.5s;
    animation-duration: 0.5s;
}

.explosion-two {
    position: absolute;
    z-index: 1000000;
    height: 150px;
    width: 150px;
    animation: explosion-two-animation;
    transition: transform 1.2s;
    animation-duration: 1.2s;
    pointer-events: none;
}

.explosion-three {
    position: absolute;
    z-index: 100000;
    height: 200px;
    width: 200px;
    animation: explosion-three-animation;
    transition: transform 0.5s;
    animation-duration: 0.5s;
}
