#stone-container {
    width: 260px;
    height: 260px;
    overflow: hidden;
}

#stone-container #hammer {
    width: 80px;
    height: 80px;
}

#stone-container .block {
    position: absolute;
    z-index: 1000;
    width: 55px;
    height: 55px;
}

#stone-container #hammer {
    position: absolute;
    z-index: 10000;
}

#stone-container .chest {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 10px;
    left: 40px;
}

@keyframes explosion-one-animation {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(4);
    }
}

@keyframes explosion-two-animation {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes explosion-three-animation {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes cloud-animation {
    from {
        transform: scale(0.6)
    }
    to {
        transform: scale(1.2);
    }
}


@keyframes cloud-animation {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(7);
    }
}

.explosion-one{
    position: absolute;
    z-index: 100000;
    height: 120px;
    width: 120px;
    animation: explosion-one-animation;
    transition: transform 0.4s;
    animation-duration: 0.4s;
    pointer-events: none;
}

.explosion-two {
    position: absolute;
    z-index: 1000000;
    height: 160px;
    width: 160px;
    animation: explosion-two-animation;
    transition: transform 0.4s;
    animation-duration: 0.4s;
    pointer-events: none;
}

.explosion-three {
    position: absolute;
    z-index: 100000;
    height: 200px;
    width: 200px;
    animation: explosion-three-animation;
    transition: transform 0.4s;
    animation-duration: 0.4s;
    pointer-events: none;
}

.cloud {
    position: absolute;
    z-index: 100000;
    height: 200px;
    width: 200px;
    animation: cloud-animation;
    transition: transform 2s;
    animation-duration: 2s;
    pointer-events: none;
}

@media only screen and (max-device-width: 640px) {
    #stone-container {
        width: 180px;
        height: 180px;
    }

    #stone-container .block {
        width: 40px;
        height: 40px;
    }

    #stone-container .chest {
        width: 120px;
        height: 120px;
    }

    #stone-container #hammer {
        width: 50px;
        height: 50px;
    }

    .explosion-one{
        height: 80px;
        width: 80px;
    }

    .explosion-two {
        height: 120px;
        width: 120px;
    }

    .explosion-three {
        height: 160px;
        width: 160px;
    }
}