#crates-container {
    width: 230px;
    height: 300px;
    overflow: hidden;
}

#crates-container #hammer {
    width: 80px;
    height: 80px;
}

#crates-container .block {
    position: absolute;
    z-index: 1000;
    width: 55px;
    height: 55px;
}

#crates-container #hammer {
    position: absolute;
    z-index: 10000;
}

#crates-container .chest {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 10px;
    left: 40px;
}


@media only screen and (max-device-width: 640px) {
    #crates-container {
        width: 180px;
        height: 180px;
    }

    #crates-container .block {
        width: 40px;
        height: 40px;
    }

    #crates-container .chest {
        width: 120px;
        height: 120px;
    }

    #crates-container #hammer {
        width: 50px;
        height: 50px;
    }

}